{% extends 'aplicacion/base.html' %}
{% load static %}

{% block imagen %}<img class="masthead-avatar mb-5" src="{% static 'aplicacion/assets/img/girl-svgrepo-com.svg' %}" alt="..." />{% endblock imagen %}
{% block titulo_principal %} Mariana Gómez Paradiuk {% endblock titulo_principal %}
{% block palabras_clave %} Ingeniera electricista {% endblock palabras_clave %}

{% block perros_adoptados %}{% endblock perros_adoptados %}


{% block formulario %}{% endblock formulario %}

{% block titulo_about %} Sobre mi {% endblock titulo_about %}
{% block col_1 %} 
Me anote a este curso por una oportunidad de aprendizaje en mi trabajo. Si bien mis tareas no estan relacionadas con el mundo de la codificación, contamos con siertos programas/ scripts que fueron desarrollados en ciertos lenguajes complejos y el objetivo final es tener 
{% endblock col_1 %}
{% block col_2 %}
la capacidad de reemplazarlos con ayuda de los conocimientos adquiridos. Aunque me pareció muy interesante los contenidos y la forma de brindar el curso, me hubiese gustado que dieran alguna informacón apuntada al desarrollo de programas y no unicamente al desarrollo web.
{% endblock col_2 %}
{% block boton %}{% endblock boton %}



{% block modals %}{% endblock modals %}

{% block modals_otros %}{% endblock modals_otros %}