{% extends 'aplicacion/base.html' %}
{% load static %}

{% block imagen %}{% endblock imagen %}
{% block titulo_principal %}Patitas{% endblock titulo_principal %}
{% block palabras_clave %}{% endblock palabras_clave %}

{% block perros_adoptados %}{% endblock perros_adoptados %}

{% block formulario %}

    <table>
        <tr>
            <td width="200"><h2>Articulos a la venta</h2></td>
            <td>
                <a
                href="{% url 'create_articulo' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="New Record"> </i>
                </a>
            </td>
        </tr>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Articulo</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for art in articulo_list %}
        <tr>
            <td>{{ art.id }}</td>
            <td>{{ art.nombre }}</td>
            <td>{{ art.descripcion }}</td>
            <td>{{ art.tipo }}</td>
            <td>{{ art.precio }}</td>

            <td>
                <a
                href="{% url 'update_articulo' art.id %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                href="{% url 'delete_articulo' art.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>        
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock formulario %}

{% block acerca_pagina %} {% endblock acerca_pagina %}

{% block modals %}{% endblock modals %}

{% block modals_otros %}{% endblock modals_otros %}