{% extends 'aplicacion/base.html' %}
{% load static %}

{% block imagen %}{% endblock imagen %}
{% block titulo_principal %}Agregar artículos{% endblock titulo_principal %}
{% block palabras_clave %}{% endblock palabras_clave %}

{% block perros_adoptados %}{% endblock perros_adoptados %}

{% block titulo_formulario %}{% endblock titulo_formulario %}

{% block acerca_pagina %} {% endblock acerca_pagina %}

{% block modals %}{% endblock modals %}

{% block modals_otros %}{% endblock modals_otros %}